@import "node_modules/bootstrap/scss/bootstrap.scss";

td:hover {
  .actions {
    visibility: visible;
  }
}
td{
  .actions {
    visibility: hidden;
  }
}

.btnSm {
  font-size: 0.5em;
}
.selected {
  background-color: $cyan-100!important;
}