@import "node_modules/bootstrap/scss/bootstrap.scss";

td{
  cursor: pointer!important;
  .actions {
    visibility: hidden;
    text-align: right;
  }
  &:hover {
    .actions {
      visibility: visible;
    }
  }
}

.btnSm {
  font-size: 0.5em;
}
.selected {
  background-color: $cyan-100!important;
}